@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;0,6..12,800;1,6..12,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Prohibition";
  src: url("./fonts/ProhibitionTest-Regular.otf") format("opentype");
  /* If the font is in src/assets/fonts, use: */
  /* src: url('../assets/fonts/ProhibitionTest-Regular.otf') format('opentype'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./fonts/HvDTrial_Brandon_Grotesque_regular-BF64a6225c9311e1.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* This helps with font loading performance */
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
